<div class="footer-dark bg-dark mt-5">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About Us</h3>
                        <ul>
                            <li><a>Brian Wijaya</a></li>
                            <li><a>Erwin Surya Effendy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Shush!</h3>
                        <p>
                            Hate speech occurs in all societies, whether offline or online. It can sometimes be hard to assess when a comment is meant as hate speech – especially when expressed in the virtual world. It can also feel overwhelming to try to deal with obviously hateful content.

                            Refrain from making any hateful comments yourself and/or relaying such content. Whether online or offline, we should all act responsibly to stop the spread of hate and misinformation.

                      </p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon fab fa-github"></i></a><a href="#"><i class="icon fab fa-youtube"></i></a><a href="#"><i class="icon fab fa-twitter"></i></a><a href="#"><i class="icon fab fa-instagram"></i></a></div>
                </div>
                <p class="copyright">FTI UNTAR © 2022</p>
            </div>
        </footer>
    </div>