<div class="header">
<div class="container">
<div class="row">
<div class="col-md-6 p-5">
<h3 class="title">Shush!</h3>
<p>Hate Speech Detector</p>
</div>
<div class="col-md-6 p-5">
  
</div>
</div>
</div>
</div>
